// ********************
// VARIABLES
// ********************

// PRIMARY GRAY
$gray-900: #0A0A0C;
$gray-800: #151419;
$gray-700: #1F1F25;
$gray-600: #2A2932;
$gray-500: #34333E;
$gray-400: #5D5C65;
$gray-300: #85858B;
$gray-200: #AEADB2;
$gray-100: #D6D6D8;
$gray-50: #EBEBEC;

// SECONDARY GOLD
$gold-900: #221910;
$gold-800: #433120;
$gold-700: #654A2F;
$gold-600: #86623F;
$gold-500: #A87B4F;
$gold-400: #B99572;
$gold-300: #CBB095;
$gold-200: #DCCAB9;
$gold-100: #EEE5DC;
$gold-50: #F6F2ED;

// TERTIARY BEIGE
$beige-900: #2C2A27;
$beige-800: #57544E;
$beige-700: #837D75;
$beige-600: #AEA79C;
$beige-500: #DAD1C3;
$beige-400: #E1DACF;
$beige-300: #E9E3DB;
$beige-200: #F0EDE7;
$beige-100: #F8F6F3;
$beige-50: #FBFAF9;

// NEUTRALS
$white: #FFFFFF;
$black: #000000;
$light-gray: #F9FAFB;

// MISCELLANEOUS
$yellow: #FFE9AB